@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* Respect user's motion preferences */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
*{

    font-family: Outfit;
}
a.active hr{
    display: block;
}
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  @media (max-width:640px)
  {
    a.active{
        background-color: black;
        color: white;
    }
  }
  @layer components {
    .btn {
      @apply bg-black px-8 py-3 text-sm text-white hover:bg-gray-900 active:bg-gray-700;
    }
  }
  
  .perspective-200 {
  perspective: 200px;
}

.text-holo {
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  color: transparent;
}
/* globals.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(45, 212, 191, 0.5); /* Teal (Tailwind: teal-400) */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.text-oswald {
  font-family: 'Oswald', Arial, sans-serif;
}
